div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  color: red;
  background-color: forestgreen;
}

.runeforest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  color: red;
  background-color: forestgreen;
}

.runestone {
  background-color: gray;
  border-radius: 50% 50% 0 0;
  width: 50%;
}

.blankrune {
  display: flex;
  flex-direction: column;
  background-color: gray;
  border-radius: 50% 50% 0 0;
  height: 300px;
  width: 70%;
}
textarea {
  height: 70%;
}
